html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline-color: black;
}

/* Menu links */

.hasmLd a {
  color: white;
}

/* logo height */

.uguHT {
  width: auto;
  height: 80px;
}

/* detailPage */

div#__next {
  background-color: #000000;
}

.iJskDi {
  background-color: #000000;
}


/* my items styling */

/* my items H2 */

span.MyItemsPagestyled__HeaderText-sc-o8d8s4-1.egdaoH {
  color: white;
}

.MaxWidthstyled__MaxWidth-sc-19pgylg-0.MyItemsPagestyled__PageContainer-sc-o8d8s4-0.fpNbdX.iJskDi {
  background-color: black;
}